.app-container {    
    color: white;
    position: relative;
    min-height: 100vh;
    overflow: hidden;
    background-color: rgba(173, 171, 171, 0.5);
}

.logo {    
    margin: 1vh 1vw;
    text-align: center;
}
